.english{
   margin-left: 41%;
   margin-top: 3%;
}
.instagram{
   margin-top: 2%;
   margin-left: 35%;
   align-items: center;
   display: flex;
}
.link{
   display: flex;
   align-items: center;
   background-color: blue;
   height: 20%;
   width: 30%;
   color: white;
   margin-left: 30%;
}
.facebook{
   margin-left: 18%;
   font-size: 2 rem;
   border-radius: 10%;
   width: 40%;
}
.line{
   background-color: black;
   width: 30%;
   margin-left: 10%;
   margin-top: 5%;
   height: 0.01%;
}
.username{
   font-size: 1rem;
   margin-left: 35%;
   margin-top: 3.5%;
}
.password{
   font-size: 1rem;
   margin-left: 35%;
   margin-top: 2.5%;
}
.forget{
   color:  rgb(2, 2, 170);
   margin-left: 45%;
   margin-top: 1%;
}
.log{
   width: 30%;
   height: 40%;
   background-color: blue;
   color: white;
   margin-left: 30%;
   margin-top: 3%;
   
}
.login{
   margin-left: 40%;
   font-size: 1rem;
}
.account{
   margin-left: 39%;
   margin-top: 1%;
}
.signup{
   color: blue;
}